.skills-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.skills-list.education{
  display: block;
}
.skills-list > div{
  width: 40%;
}
.skills-list > .list{
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 1024px){
  .skills-list{
    flex-direction: column;
  }
  .skills-list > .list{
    margin: 0;
    width: 100%;
  }
  .percentage{
    width: auto!important;
  }
}