.ceritificate{
  display: flex;
  align-items: flex-start;
  margin-bottom: 6rem;
}
.ceritificate .certificate-svg{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ceritificate .certificate-svg .svg{
  transform: rotate(45deg);
  border-radius: 5px;
  position: relative;
}
.ceritificate .certificate-svg svg{
  width: 25px;
  height: 25px;
  fill: white;
  padding: 1rem;
  transform: rotate(-45deg);
}
.vl{
  border-left: 0.5px solid var(--secondary-color);
  height: 100%;
  min-height: 100px;
  margin-top: 1rem;
}
.certificate-date{
  font-size: 14px;
  border-radius: 14px;
  background-color: #333333;
  padding: 0.5rem 1rem;
  width: 130px;
  margin: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.certificate-title h1{
  margin: 1rem 2rem;
  font-size: 16px;
  font-family: 'Azo Sans Md';
  text-transform: uppercase;  
}
.certificate-title span{
  font-size: 12px;
  font-family: 'Azo Sans';
  font-weight: 300;
  color: var(--secondary-color);
  margin-left: 1rem;
}
.certificate-place{
  margin: 0rem 2rem;
  font-family: 'Azo Sans Md';
  text-transform: uppercase; 
  font-size: 13px;
  opacity: 0.35;
}
.certificate-desc{
  margin: 0rem 2rem;
  font-size: 12px;
  font-family: 'Azo Sans Md';
  max-width: 350px;
  text-align: left;
}
.certificate-button{
  margin: 0rem 2rem;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: transparent;
  width: 180px;
}
.certificate-button p{
  font-size: 14px;
  color: var(--secondary-color);
}
.certificate-button:hover ,.certificate-button:hover p{
  background-color: var(--secondary-color);
  color: white!important;
}
@media only screen and (max-width: 1024px){
  .certificate-svg{
    display: none!important;
  }
  .certificate-title span{
    margin: 0;
  }
  .certificate-date{
    display: flex;
    padding: .5rem 1rem;
  }
  .certificate-button p{
    margin: .75rem 1rem;
  }
  .ceritificate{
    margin-bottom: 2rem!important;
  }
  .certificate-detail{
    border-bottom: 1px solid #333333;
    padding-bottom: 2rem;
  }
}