.Sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: fixed;
  right: 5%;
  top: 25%;
}
.Sidebar > span.active{
  background-color: var(--secondary-color);
}
.Sidebar > span{
  position: relative;
  z-index: 999;
  margin: 1rem 0;
  border-radius: 50%;
  padding: 1rem;
  background-color: #414040;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Sidebar > span:hover{
  background-color: var(--secondary-color);
}
.Sidebar > span:hover svg path{
  fill: white;
}
.Sidebar span svg{
  width: 20px;
  height: 20px;
}
.Sidebar span svg path{
  fill: white;

}
.Sidebar  span.active svg path{
  fill: white;
}
@media only screen and (max-width: 1300px) {
  .Sidebar{
    right: 0;
  }
}