.Sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: absolute;
  right: 1%;
  top: 25%;
}
.Sidebar.mobile{
  display: none;
}
.Sidebar > span.active{
  background-color: var(--secondary-color);
}
.Sidebar > span{
  position: relative;
  z-index: 999;
  margin: 1rem 0;
  border-radius: 50%;
  padding: 1rem;
  background-color: #414040;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Sidebar > span:hover{
  background-color: var(--secondary-color);
}
.Sidebar > span:hover svg path{
  fill: white;
}
.Sidebar span svg{
  width: 20px;
  height: 20px;
}
.Sidebar span svg path{
  fill: white;

}
.Sidebar  span.active svg path{
  fill: white;
}
.Sidebar-mobile-menu{
  display: none;
}
.Sidebar-mobile{
  padding: .25rem;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #414040;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-50%, 90%);
  transition: all 1s ease;
  cursor: pointer;
}

@media only screen and (max-width: 1300px){
  .Sidebar{
    right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .Sidebar{
    display: none;
  }
  .Sidebar-mobile{
    display: flex;
  }
  .Sidebar.mobile{
    display: flex;
    position: absolute;
    right: -2%;
    top: 20%;
    transition: opacity .1s ease;
    opacity: 1;
    z-index: 9999999999;
  }
  .Sidebar.mobile.hide{
    opacity: 0;
  }
  .Sidebar.mobile span{
    width: 40px;
    height: 40px;
    padding: .25rem;
  }
}