@import url("./assets/fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

 /* Variables */ 
 :root{
  --primary-color:#1A1A1A;
  --secondary-color:#FF9900;
  --white-color:#FFFFFF;
  --grey-color:#333333;
}

body {
  margin: 0;
  font-family: 'Azo Sans';
  background-color: var(--primary-color);
}

.font-raleway{
  font-family: 'Raleway', sans-serif;
}

.font-comfortoo{
  font-family: 'Comfortaa', cursive;
}

 /* Colors classes */ 
.text-primary{
  color: var(--primary-color);
}
.text-secondary{
  color: var(--secondary-color);
}
.text-white{
  color: var(--white-color);
}
.text-grey{
  background-color: var(--grey-color);
}

 /* BackgroundColors classes */
.bg-primary{
  background-color: var(--primary-color);
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.bg-white{
  background-color: var(--white-color);
}
.bg-grey{
  background-color: var(--grey-color);
}

/* App css */

.portfolio{
  position: relative;
  height: 100vh;
}