@import url("./assets/fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

 /* Variables */ 
 :root{
  --primary-color:#1A1A1A;
  --secondary-color:#FF9900;
  --white-color:#FFFFFF;
  --grey-color:#333333;
}

body {
  margin: 0;
  font-family: 'Azo Sans';
  background-color: var(--primary-color);
  color: var(--white-color);
}
ul{
  
  list-style: none!important;
}
.font-raleway{
  font-family: 'Raleway', sans-serif;
}

.font-comfortoo{
  font-family: 'Comfortaa', cursive;
}

 /* Colors classes */ 
.text-primary{
  color: var(--primary-color);
}
.text-secondary{
  color: var(--secondary-color);
}
.text-white{
  color: var(--white-color);
}
.text-grey{
  background-color: var(--grey-color);
}

 /* BackgroundColors classes */
.bg-primary{
  background-color: var(--primary-color);
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.bg-white{
  background-color: var(--white-color);
}
.bg-grey{
  background-color: var(--grey-color);
}
.opacity-0{
  opacity: 0;
}
.opacity-1{
  opacity: 1;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.circular{
  border-radius: 50%;
}
.justify-between{
  justify-content: space-between;
}
.items-center{
  align-items: center;
}
.mt-10{
  margin-top: 10rem;
}
.mx-4{
  margin: auto 4rem;
}
.mr-2{
  margin-right: 2rem;
}
@keyframes shape {
  0% {
    right: 400;
  }
  50% {
    right: 0%;
  }
}
@keyframes square {
  0% {
    right: 35%;
  }
  50% {
    right: 50%;
  }
  100% {
    right: 35%;
  }
}
@keyframes square-turn {
  0% {
    right: 65%;
    transform: rotate(0);
  }
  50% {
    right: 60%;
    transform: rotate(90deg);
  }
  100% {
    right: 65%;
    transform: rotate(180deg);
  }
}
.shape{
  animation: shape 20s linear infinite;
  -webkit-animation: shape 20s linear infinite;
}
.square-turn{
  animation: square-turn 20s linear infinite;
-webkit-animation: square-turn 20s linear infinite;
}
.square{
  animation: square 20s linear infinite;
-webkit-animation: square 20s linear infinite;
}
/* App css */

.portfolio{
  display: flex;
  justify-content: center;
  align-content: center;
}

.mw{
  max-width: 1200px;
}
@media only screen and (max-width: 1300px) {
  .portfolio{
    justify-content: start;
    margin-left: 5rem;
  }
}
